html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333333;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

nav {
    margin: 20px;
}

nav a {
    margin: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
    text-decoration: underline;
}

.myPic {
    display: block;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid #333333;
    border-radius: 50%;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 20px;
}

.about, .favorites, .projects, .talents, .links, .extras, .contact {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333333;
    margin-top: 0;
}

h4{
    margin-top: 0;
}

.project {
    background-color: #eae9e9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    width: 300px;
}

.project p{
    font-size: 14px;
}

.ext{
    text-decoration: none;
    color: blue;
}

.ext:hover {
    color: black;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

#name, #email{
    width: 250px;
}

#datetime{
    width: 190px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #434242;
}